
body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#login_frame {
    width: 400px;
    height: 265px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    margin-top: 22px;
    font-size: 20px;
    font-family: 楷体;
    font-weight: bold;
}

.label_input {
    font-size: 14px;
    font-family: 宋体;
    font-weight: bolder;

    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;

    color: white;
    background-color: #7698FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 263px;
    height: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_login {
    font-size: 14px;
    font-family: 宋体;
    font-weight: bolder;

    width: 155px;
    height: 36px;
    line-height: 36px;

    color: white;
    background-color: #7698FF;
    border-radius: 6px;
    border: 0;

    float: left;
}

#btn_login1 {
    font-size: 14px;
    font-family: 宋体;
    font-weight: bolder;

    width: 155px;
    height: 36px;
    line-height: 36px;

    color: white;
    background-color: #7698FF;
    border-radius: 6px;
    border: 0;

    float: right;
}
#login_control {
    padding: 0 28px;
    float: left;
}


#footer{
    position:absolute;
    bottom:0.1%;
    width:100%;
    height:20px;
    background-color: rgba(77,88,99,0.5);
    text-align: center;
    left: 0px;
}
